body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    background: #eee;
}

main {
    max-width: 520px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main figure {
    margin: 0;
    padding: 1rem;
}

main figure svg>* {
    opacity: 0;
}

main figure svg #ground {
    opacity: 1;
}

main figure.scaffold svg #scaffold {
    opacity: 1;
}

main figure.head svg #head {
    opacity: 1;
}

main figure.body svg #body {
    opacity: 1;
}

main figure.arms svg #arms {
    opacity: 1;
}

main figure.legs svg #legs {
    opacity: 1;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

footer ul.nomatch {
    display: flex;
    margin: 0;
    padding: 0;
    height: 2rem;
    font-size: 1.2rem;
    opacity: .4;
    list-style: none;
}

footer ul.nomatch li {
    height: 1.4rem;
    margin: 0 .25rem;
}

footer ul.word {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
}

footer ul.word li {
    width: 2rem;
    height: 2rem;
    display: flex;
    padding: .5rem .25rem;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #222;
    margin: 0 .25rem;
    background: rgba(0, 0, 0, .1);
}

p {
    color: rgba(0, 0, 0, .4);
    font-size: 1.2rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}



section.game-over,
section.winning {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .9);
    z-index: 999;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}




section.game-over.show,
section.winning.show {
    display: flex;
    justify-content: center;
}

.game-over>h1,
.winning>h1 {
    font-size: 6rem;
    margin: 0;
}

.game-over>p,
.winning>p {
    font-size: 2rem;
    color: white;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.game-over>a,
.winning>a {
    background: rgb(19, 160, 19);
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    margin-top: 4rem;
    border-radius: .25rem;
    opacity: .8;
    font-size: 2rem;
}

.game-over>a:hover,
.winning>a:hover {
    opacity: 1;
}


.word-revealed {
    color: rgb(172, 16, 16);
    font-size: 4rem;
}